/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset some default browser styles */
body, h1, h2, p, ul, li, a, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.brand-container {
    max-width: 1200px;
    /* margin: 0 auto;
    padding: 20px; */
    margin-top: 20px;
}

.navbar-container {
    margin-left: 50px !important;
    margin-top: 30px !important;
    margin: 0 auto;
}

/* Navigation Section */
.navbar {
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border: 1px solid red;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    overflow: hidden;
    background-color: #fff;
}

.navbar-menu {
    list-style: none;
}

.sticky-menu {
    list-style: none;
    margin-top: 15px;
    /* position: sticky; */
}

.navbar-menu li {
    display: inline;
    margin-right: 20px;
}

.sticky-menu li {
    display: inline;
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: #fec303;
    font-weight: bold;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.navbar-menu a:hover {
    color: #444;
    /* background-color: #fec303; */
}

.sticky-menu a {
    text-decoration: none;
    color: #fec303;
    font-weight: bold;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.section-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
    text-align: left !important;
    position: relative;
    width: fit-content;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #fec303;
    height: 2px;
    width: 100%;
}

.section-sub-title {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: "Roboto", Verdana, sans-serif;
    text-align: left !important;
    position: relative;
    width: fit-content;
}

.section-sub-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #fec303;
    height: 2px;
    width: 100%;
}

/* Hero Section */
.hero {
    height: 100vh; 
    background-color: black;
    background-size: cover;
    background-position: center;
    text-align:left;
}

.hero-content {
    padding-top: 50px;
}

.hero-title {
    font-size: 110px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100; 
    margin-left: 50px;
}

.hero-title-typewriter {
    font-size: 110px;
    color: #fff;
    /* margin-top: 40px; */
    /* margin-bottom: 10px; */
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100; 
    padding-top: 80px;
    margin-left: 50px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      width: fit-content;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.hero-subtitle-yellow {
    font-size: 30px;
    color: #fec303;
    font-family: "Roboto", Verdana, sans-serif;
    margin-left: 50px;
    margin-bottom: 160px;
    font-weight: 100 !important;
}

.hero-subtitle {
    font-size: 30px;
    color: #fff;
    font-family: "Roboto", Verdana, sans-serif;
    margin-left: 50px;
    font-weight: 100 !important;
}


/* About Section */


.about {
    position: relative;
    background-color: #fff;
    color: #000; 
    padding: 20px 0;
    min-height: 75vh;
}

.about-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-column {
    flex: 1; /* Each column takes up equal space initially */
}

.about-column.left {
    flex: 2; /* Left column takes up 2/3 of the width */
}

.about-title {
    font-size: 44px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
}

.about-image {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    border: 5%;
    margin-top: 40px;
}

.about-text {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
}


.skills-table {
    width: 50%;
    border-collapse: collapse;
    background-color: #fff; /* Header background color */
    color: #000; /* Header text color */
    margin: auto;
    font-family: "Roboto", Verdana, sans-serif;

}

.skills-table th,
.skills-table td {
    border: 1px solid #000; /* Set border style */
    padding: 10px;
    text-align: center;
}

.skills-table th {
    background-color: #8b8888; 
    color: #fff;
}

/* Brand Logos Section */
.brand-logo-section {
    background-color: #fff;
}


.brand-logos-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.brand-logos-list {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(6,1fr);
}

.brand-logo {
    flex: 1;
    max-width: 70%; /* Adjust the size of the logos as needed */
    padding: 10px;
    text-align: center;
}

.brand-logo img {
    max-width: 100%;
    height: auto;
}

/* Toolbox Section */
.toolbox {
    background-color: #000; /* Black background color */
    color: #fff; /* Text color */
    padding: 40px 0;
    text-align: center; /* Center-align the content */
    font-size: 15px;
    font-family: "Roboto", Verdana, sans-serif;
}

.currently-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 44px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
    text-align: left;
}

.currently-table-container {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center-align the container */
}

.currently-table {
    width: 50%;
    border-collapse: collapse;
    background-color: #fff; /* Header background color */
    color: #000; /* Header text color */
    margin: auto;
}

.currently-table th,
.currently-table td {
    border: 1px solid #000; /* Set border style */
    padding: 10px;
    text-align: left;
}

.currently-table th {
    background-color: #8b8888; /* Header background color */
    color: #fff;
}


.last-updated-text {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
    margin-top: 15px;
}

/* Portfolio Section */
.portfolio {
    padding: 40px 0;
    min-height: 100vh;
}


.portfolio-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 44px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
    text-align: left;
}

.project-title {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
    margin-top: 15px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    flex: 0 0 calc(50% - 10px); /* Two items per row with a small gap */
    margin-bottom: 20px;
}

.portfolio-description {
    font-size: 16px;
    font-family: "Roboto", Verdana, sans-serif;
}

.portfolio-sub-text {
    text-align: center;
    font-family: "Roboto", Verdana, sans-serif;
    margin-bottom: 40px;
}

/* Contact Section */
.contact {
    /* padding: 40px 0;
    height: 100vh; */
    background-color: #000;
    color: #fff !important;
}

.contact-columns {
    display: flex;
    justify-content: space-between;
}

.contact-column {
    width: 48%; /* Each column takes up 48% of the width */
}

.contact-links {
    list-style: none;
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 16px;
}

.contact-links li  {
    
    margin-bottom: 10px;
}

.contact-links li a {
    text-decoration: none;
    color: #fff;
}

.contact-title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: "Roboto", Verdana, sans-serif;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    font-family: "Roboto", Verdana, sans-serif;
}

.form-group {
    margin-bottom: 20px;
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea.form-control {
    resize: vertical;
}

.btn-primary {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Contact Information */
.contact-info-title {
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Footer Section */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: "Roboto", Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;

}

.sticky-buttons {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: #fff;
}

.sticky-buttons a{
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 20px;
}


.button {
    margin-bottom: 10px; /* Adjust the spacing between buttons as needed */
    padding: 10px 20px;
    background-color: #fec303; 
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Roboto", Verdana, sans-serif;
    border: 0px;
}

.button:hover {
    background-color: #838383; /
}

hr {
color: #fec303;
text-align: center;
}



/* Responsive style */

@media screen and (max-width:768px) {
    .hero-title-typewriter {
        font-size: 30px;
    }
    
    .hero-subtitle-yellow {
        font-size: 30px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .about-columns {
        display: block;
    }

    .brand-logos-list {
        grid-template-columns: repeat(3,1fr);
    }

    .brand-logo img {
        max-width: 110%;
    }
    
.section-title {
    margin-top: 20px;
}

    .currently-table {
        width: 100%;
    }

    .portfolio-items {
        display: block;
    }

    .gallery-item img {
        width: 150px;
    }

    .project-title {
        font-size: 10px;
    
    }

    .contact-columns {
        display: block;
    }

    .contact-column {
        width: 100%;
    }

    form {
        margin-top: 30px;
    }

    .navbar-menu a {
        font-size: 20px;
    }

    .navbar-container {
        margin-top: 0px !important;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

.pageclip-form__submit {
  padding: 10px;
}




/* Portfolio Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid red;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 20px); /* Three items per row with some spacing */
    margin-bottom: 20px;
    text-align: center;
}

.gallery-item img {
    max-height: 220px;
    height: auto;
}

.gallery-title {
    font-size: 18px;
    margin-top: 10px;
    font-family: "Roboto", Verdana, sans-serif;
}


.highlight-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Media Query for Responsive Adjustments */
@media screen and (max-width: 768px) {
    .gallery-item {
        flex: 0 0 calc(50% - 20px); /* Two items per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        flex: 0 0 100%; /* Single column on even smaller screens */
    }
    .highlight-container {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
}

  .footer {
    background-color:#fec303; 
    color: #000; 
    padding: 10px;
    display: flex; /* Use flexbox to create a two-column layout */
    justify-content: space-between; /* Space items evenly horizontally */
    align-items: center; /* Align items vertically to the center */
  }
  
  /* Style for the logo */
  .logo {
    font-weight: bold; 
    font-size: 24px; 
    margin-left: 20px;
  }
  
  /* Style for the social icons */
  .social-icons {
    list-style-type: none; /* Remove list bullets */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    display: flex; /* Use flexbox to arrange the icons horizontally */
  }
  
  /* Style for individual social icons */
  .social-icon {
    margin-right: 10px; /* Add spacing between social icons */
  }
  
  /* Style for social icon links */
  .social-icon a {
    text-decoration: none; /* Remove underlines from the links */
    color: #fff; /* Set the color for the icons */
    font-size: 20px; /* Adjust the font size of the icons as needed */
  }
